.translation-history-container {
    background-color: white;
    position: relative;
    bottom: 110px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 50%;
    margin: auto;
    font-family: 'Sanchez', serif;

}

.translation-history {
    padding: 5px 20px;
    min-height: 100px;
}

.translation-history-title {
    background-color: #845EC2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-translatios-btn {
    border-radius: 30px;
    background-color: #EFEFEF;
    padding: 15px;
    font-size: x-large;
    font-weight: bold;
    width: 200px;
    cursor: pointer;
    border: 0;
    font-family: 'Sanchez', serif;
}
.delete-translatios-btn:hover{
    background-color: #c2c0c0;
}
.history-item{
    padding: 5px;
    font-size: xx-large;
}