@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez&display=swap');

.loginForm-container {
    background-color: white;
    display: flex;
    flex: 1;
    justify-content: center;
}

.login-form {
    background-color: white;
    position: relative;
    bottom: 100px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding-top: 10px;
    text-align: center;
}

.login-fieldset {
    border: 3px solid rgb(191, 191, 191);
    background-color: #EFEFEF;
    border-radius: 50px;
    margin: 20px 40px 20px 40px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.login-input {
    font-size: xx-large;
    background-color: #EFEFEF;
    border: 0px;
    color: #969696;
    outline: none;
    min-width: 90%;
    font-family: 'Sanchez', serif;
}

.buttom-border-div {
    background-color: #845EC2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 15px;
}

.submit-btn {
    border-radius: 50%;
    background-color: #845EC2;
    color: white;
    padding: 5px;
    font-weight: bold;
    width: 70px;
    height: 70px;
    cursor: pointer;
    border: 3px solid rgb(191, 191, 191);
}

.submit-btn:disabled {
    background-color: #EFEFEF;
}

.submit-btn:hover {
    background-color: rgb(172, 131, 238);
}

.error-message {
    color: red;
    font-size: x-large;
    font-family: 'Sanchez', serif;
}