@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

.login-container {
    flex: 1;
}
.welcome-container {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: xx-large;
    display: flex;
    color: white;
    background-color: #FFC75F;
    padding: 30px 200px 150px 200px;
    justify-content: space-evenly;
    align-items: center;
}