@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez&display=swap');

.translate-container {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: xx-large;
    display: flex;
    color: white;
    background-color: #FFC75F;
    padding: 30px 200px 30px 200px;
    justify-content: center;
}

.translation-fieldset {
    border: 3px solid rgb(191, 191, 191);
    background-color: #EFEFEF;
    border-radius: 50px;
    margin: 20px 40px 20px 40px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.translation-input {
    font-size: xx-large;
    background-color: #EFEFEF;
    border: 0px;
    color: #969696;
    outline: none;
    font-family: 'Sanchez', serif;
}

.input-btn {
    border-radius: 50%;
    background-color: #845EC2;
    color: white;
    padding: 5px;
    font-weight: bold;
    height: 70px;
    cursor: pointer;
    border: 3px solid rgb(191, 191, 191);
}

.input-btn:hover {
    background-color: rgb(172, 131, 238);
}
