.translation-result-container{
    background-color: white;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
}
.translation-result{
    padding: 30px;
    min-height: 200px;
}

.buttom-border-div {
    background-color: #845EC2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
}