@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez&display=swap');

.navbar {
    padding: 20px;
    height: 100px;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: xx-large;
    color: white;
    margin-top: 0;
    background-color: #FFC75F;
    border-bottom: 2px solid #E7B355;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navlink {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlink:hover{
    text-decoration: underline;
}

.navbar-user-icon {
    background-color: #E7B355;
    padding: 10px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}

.logout-btn {
    border-radius: 30px;
    background-color: #845EC2;
    color: white;
    padding: 15px;
    font-size: x-large;
    font-weight: bold;
    width: 200px;
    cursor: pointer;
    border: 0;
    font-family: 'Sanchez', serif; 
}

.logout-btn:hover {
    background-color: rgb(172, 131, 238);
}

.user-icon-text{
    position: relative;
    right: -30px;
    bottom: 40px;
    background-color: #E7B355;
    padding: 10px 50px 10px 30px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}
.user-icon {
    position: relative;
    z-index: 2;
}